{% extends 'pharmacyapp/base.html' %}

{% block body_block %}
    <div class="row">
        <!-- Return Medicine Form (Side Section) -->
        <div class="col-md-4">
            <form method="POST" class="bill-search">
                {% csrf_token %}
                <h3>Return Medicines</h3>
                <p>Enter the Bill Number: <input type="text" id="billNo" name="billNo" class="form-control" /></p>
                <button type="submit" class="bill-search btn btn-primary" name="billSearch" value="billSearch">Search</button>
            </form>
        </div>

        <!-- Patient Information for Billing (Center Section) -->
        <div class="col-md-8">
            <h1>Patient Information for Billing</h1>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form method="POST" class="patient-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-primary" name="search" value="search">Search Old Patient</button>
                <button type="submit" class="save btn btn-primary" name="newReg" value="newReg">New Patient</button>
            </form>
        </div>
    </div>
{% endblock %}